@import "../../shared/styles/config/functions";

.title {
  text-align: center;
  margin-bottom: rem(25);
}

.field {
  display: flex;
  flex-direction: column;

  .label {
    font-size: rem(14);
    transition: color var(--bs-transition);

    &.error {
      color: red;
    }
  }

  .input {
    margin: rem(5) 0 rem(10) 0;

    &.error {
      border: rem(3) solid red;
    }
  }
}

.recaptcha {
  margin-block: rem(10);
}

.buttons {
  gap: rem(10);
  display: flex;
  margin-top: rem(10);
  justify-content: space-between;
}